/*
0 - 600px:       Phone
600 - 900px:     Tablet portrait
900-1200px:      Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :       Big desktop
*/
/*
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

section:focus {
  outline: none; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300; }

.heading--primary {
  text-transform: uppercase;
  font-size: 2.8rem;
  font-weight: 300;
  color: #868484; }

.heading--secondary {
  margin-top: 7rem;
  margin-bottom: 4rem;
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: 300;
  color: #60B8B5; }

h3 {
  margin-bottom: 1.5rem;
  margin-top: 4rem;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 300;
  color: #333; }

.paragraph {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-top: 0rem;
  color: #868484; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 6rem !important; }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 6rem !important; }

.u-line-green {
  border-bottom: 1px solid #60B8B5;
  margin-left: 0rem;
  margin-right: 15rem; }

.u-center-text {
  text-align: center !important; }

.u-center-div {
  margin: 0 auto;
  width: 100%; }

.u-semi-bold {
  font-weight: 400; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 2rem 6rem;
  display: inline-block;
  transition: all .2s;
  position: relative;
  font-size: 2.8rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleY(1.4) scaleX(1.7);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.btn--green-light {
  background-color: #B9D5D4;
  color: #fff; }
  .btn--green-light::after {
    background-color: #fff; }

.btn--small {
  padding: 1.5rem 3rem;
  background-color: #B9D5D4;
  color: #fff;
  font-size: 2.4rem; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(209, 209, 209, 0.2);
  border: none;
  border-bottom: 3px solid transparent;
  width: 100%;
  display: block;
  transition: all .3s; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #60B8B5; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #60B8B5; }
  .form__input::-webkit-input-placeholder {
    color: #60B8B5; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__textarea {
  padding: 1rem;
  width: 100%;
  height: 12rem;
  font-size: 1.5rem;
  font-family: inherit;
  background-color: rgba(209, 209, 209, 0.2);
  border: none;
  border-bottom: 3px solid transparent;
  transition: all .3s; }
  .form__textarea:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #60B8B5; }
  .form__textarea::-webkit-input-textarea {
    color: #60B8B5; }

.footer {
  padding: 4rem;
  width: 100%;
  height: 20rem;
  text-align: center; }
  .footer__txt, .footer__link {
    display: block;
    padding-top: 1rem;
    font-size: 1.6rem;
    color: #868484; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 3.5rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  margin-top: 0rem;
  height: 55vh;
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(../img/header.png);
  background-size: cover;
  background-position: bottom; }
  .header__btn-box {
    padding-top: 15rem;
    padding-left: 40rem; }
  @media (max-width: 56.25em) {
    .header {
      height: 30vh; }
      .header__btn-box {
        padding-left: 6rem;
        padding-top: 8rem; } }

.navigation__logo {
  margin-top: 1.5rem; }
  .navigation__logo--img {
    float: left;
    height: 10rem; }
  .navigation__logo--txt {
    display: inline-block;
    margin-left: 1.5rem;
    margin-top: 6rem;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 2.2rem;
    color: #656565; }

.navigation__list {
  list-style-type: none;
  display: inline-block;
  margin-top: 6rem;
  padding-bottom: 5rem;
  float: right; }

.navigation__item {
  display: inline-block;
  padding-right: 3.5rem; }

.navigation__link:link, .navigation__link:visited {
  padding: 8px 0;
  text-decoration: none;
  color: #333;
  font-size: 1.5rem;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s; }

.navigation__link:hover, .navigation__link:active {
  border-bottom: 2px solid #60B8B5; }

.sticky {
  padding: .5rem 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.98);
  box-shadow: 0  1px 1px #efefef;
  z-index: 9999; }
  .sticky .navigation__logo {
    margin-top: .5rem; }
    .sticky .navigation__logo--img {
      float: left;
      height: 3.5rem;
      padding-bottom: 1rem; }
    .sticky .navigation__logo--txt {
      display: inline-block;
      margin-left: 1.5rem;
      margin-top: 1.2rem;
      font-family: 'Julius Sans One', sans-serif;
      font-size: 1.6rem;
      color: #656565; }
  .sticky .navigation__list {
    padding-top: 3rem;
    list-style-type: none;
    display: inline-block;
    margin-top: -2rem;
    padding-bottom: 1rem;
    float: right; }
  .sticky .navigation__item {
    display: inline-block;
    padding-right: 3.5rem; }
  .sticky .navigation__link:link, .sticky .navigation__link:visited {
    padding: 8px 0;
    padding-bottom: 13px;
    text-decoration: none;
    color: #333;
    font-size: 1.5rem;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s; }
  .sticky .navigation__link:hover, .sticky .navigation__link:active {
    border-bottom: 2px solid #60B8B5; }

.section-velkommen {
  width: 60%;
  margin: 0 auto; }
  @media (max-width: 56.25em) {
    .section-velkommen {
      width: 90%; } }

.section-omakupunktur {
  background-color: rgba(185, 213, 212, 0.4); }
  .section-omakupunktur p {
    padding-bottom: 5rem; }
  @media (max-width: 56.25em) {
    .section-omakupunktur h2 {
      margin-top: -2rem !important; } }

.omakupunktur {
  height: 40rem;
  margin-left: 25%; }
  @media (max-width: 56.25em) {
    .omakupunktur {
      width: 100%;
      height: 100%;
      padding-top: 3rem;
      margin-left: 0; } }

.behandlinger-intro {
  font-size: 1.8rem;
  line-height: 1.8;
  color: #868484; }

.viktig-info {
  margin: 0 auto;
  width: 65%; }
  .viktig-info ol {
    padding-bottom: 2rem; }
  .viktig-info li {
    padding-bottom: 1rem; }

.behandlinger {
  margin: 0 auto;
  width: 65%; }
  @media (max-width: 56.25em) {
    .behandlinger {
      width: 90%; } }

.section-priser {
  padding-top: 1rem;
  background-color: rgba(185, 213, 212, 0.4); }

.priser {
  margin: 0 auto;
  padding-bottom: 7rem;
  width: 60%;
  font-size: 1.8rem;
  line-height: 1.8;
  text-align: center;
  color: #868484;
  position: relative; }
  @media (max-width: 56.25em) {
    .priser {
      width: 90%; } }

.omtale {
  margin-top: -3rem; }
  .omtale__shape {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 5rem; }
  .omtale__img {
    width: 15rem;
    float: left;
    padding-right: 3rem; }
  .omtale__caption {
    font-size: 1.6rem;
    line-height: 1.7;
    color: #868484; }

.section-omcheng {
  background-color: rgba(185, 213, 212, 0.4); }
  .section-omcheng img {
    margin-left: 10rem;
    height: 45rem; }
  .section-omcheng p {
    padding-bottom: 5rem; }
  @media (max-width: 56.25em) {
    .section-omcheng img {
      height: 100%;
      width: 100%;
      margin: 0 auto;
      padding-top: 3rem; }
    .section-omcheng h2 {
      margin-top: -2rem !important; } }

.section-kontakt p {
  text-align: center; }

.kontakt-form {
  width: 60%;
  margin: 0 auto; }
  @media (max-width: 56.25em) {
    .kontakt-form {
      width: 100%; } }

#map {
  width: 100%;
  height: 30rem;
  background-color: grey; }
