.header {
    margin-top: -6rem;
    height: 55vh;
    background-image: url(../img/header-img2.png);
    background-size: cover;

    &__treatments {
        display: block;
        padding: 3.5rem;
        padding-left: 7rem;
        margin-left: 6rem;
        height: 65vh;
        width: 80%;
        background-color: rgba($color-white, $alpha: 0.8);
    }

    &__list {
        list-style-type: none;
    }

    &__item:not(:first-child) {
        padding-top: 2rem;
    }

    &__paragraph {
        color: #333;
        font-size: 2rem;
        font-weight: 300;
        text-decoration: none;
    }


    &__btn-box {
       position: relative;
       top: 15rem;
       left: 14rem;
    }
}